Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-WTF==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.5.3
PyPDF2==1.23
SQLAlchemy==0.9.7
Tempita==0.5.2
WTForms==2.0.1
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.18
celery==3.1.13
decorator==3.4.0
html5lib==0.999
itsdangerous==0.24
kombu==3.0.21
pbr==0.10.0
pytz==2014.4
redis==2.10.3
reportlab==3.1.8
six==1.7.3
sqlalchemy-migrate==0.9.1
xhtml2pdf==0.0.6
