{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sweet-alert.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/sweet-alert.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content -%}
    <div class="u-wrapper">
        <div class="u-content">
            <a class="btn-feed" id="btn-feed"><span class="btn--feedText">Feed me!</span></a>

            <p class="u-center title-small">Horas de Alimentacion del Dia</p>
            <div class="u-center schedules_today">
                {% if schedules is defined  %}
                    {% for s in schedules %}
                        <span class="icon-clock">{{s.time_start}}</span>
                    {% endfor %}
                {% else %}
                    <p>No hay horarios Programados</p>
                {% endif %}
            </div>
            <br>
            <div class="u-center actions">
                <a href="{{ url_for('schedule') }}" class="btn-red icon-calendar">Calendario</a>
                <a href="{{ url_for('reports') }}" class="btn-red icon-reports">Reportes</a>
            </div>

        </div>
    </div>
{%- endblock %}

