{% extends "base.html" %}


{% block content %}
<div class="Login u-verticalCenter">
    <div class="u-verticalContent">
            <div class="Login-content">
                <div class="msg"><img src="{{ url_for('static', filename='img/logo.png') }}"></div>

                <form action=""  method="POST" name="login" class="FormLogin">
                    {{form.hidden_tag()}}
                    <div class="u-clearfix">
                        <span class="FormLogin-icon icon-user"></span>
                        <div class="input-content">
                            {{ form.username(class="input",placeholder="Username") }}
                            {% for error in form.errors.username %}
                                <span class="message error">{{error}}</span><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="u-clearfix">
                        <span class="FormLogin-icon icon-lock"></span>
                        <div class="input-content">
                            {{ form.password(class="input",placeholder="Password") }}
                            {% for error in form.errors.password %}
                                <span class="message error">{{error}}</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <input type="submit" class="btn-celeste btn-full" value="Entrar"/>
                </form>
            </div>
    </div>
</div>
{%- include "flash.html" %}

{% endblock %}