{% extends "base.html" %}
{% block header %}
<link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content -%}
    <div class="u-content">
        <div class="u-center">
            <img class="img circular"  src="{{pet.url_image}}" alt="{{ pet.name }}">
        </div>

        <div class="Biografy">
            <p>Hola, me llamo <a href="{{ url_for('pet_data_edit', name = pet.name) }}">{{pet.name}}</a> y soy un {{pet.type_pet}}. Peso: {{petWeight.weight}} kg y <a href="{{ url_for('owner_edit') }}">{{g.owner.name}}</a> me da un hogar lleno de amor</p>
        </div>


        <!-- <p>Soy un(a): {{pet.type_pet}}</p> -->

        <!-- <p>Peso: {{petWeight.weight}} kg</p> -->
        
        <!-- <p>Y soy de: <a href="{{ url_for('owner_edit') }}">{{g.owner.name}}</a></p> -->
        
        <a href="{{ url_for('logout') }}" class="btn-red icon-logout">Salir</a>
    </div>

    
{%- endblock %}