{% extends "base.html" %}

{% block content -%}
    <div class="u-content">
        <div class="forms reports">
            <h2 class="title">Reportes</h2>
            <form action=""  method="POST" id="reports" name="reports">
                {{form.hidden_tag()}}
                <div class="input-content">
                    {{ form.dateStart(id='date', class='input', placeholder="Fecha Inicio") }}
                    {% for error in form.errors.dateStart %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="input-content">
                    {{ form.dateFinish(id='date', class='input', placeholder="Fecha Fin") }}
                    {% for error in form.errors.dateFinish %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="input-content">
                    {{ form.type_report.label(class="title-small") }}
                    {{ form.type_report(class='input') }}
                    {% for error in form.errors.type_report %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="input-content">
                    <input type="submit" class="btn-red" value="Generar"/>
                </div>
            </form>
        </div>
    </div>
{%- endblock %}