{% extends "base.html" %}
{% block content -%}

    <div class="u-content">
        <h2 class="title"> {{ dateShedule }} </h2>

        <div class="form scheduleSave">
            <form action=""  method="POST" id="scheduleSave" name="scheduleSave">
                {{form.hidden_tag()}}
                <div class="input-content">
                    {{ form.description(class='input', placeholder="Describe el Horario") }}
                    {% for error in form.errors.description %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="input-content">
                    {{ form.portion(class='input', placeholder="¿Cuanto tiempo dura la porcion en seg?") }}
                    {% for error in form.errors.portion %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                </div>
                <div class="input-content">
                    <p class="title-small">Horas de Alimentacion</p>
                    <div id="add_hour">
                        <input type="hidden" name="count" id="count" value="0">
                    </div>
                    {{ form.hours(id='hours1', class='input') }}
                    {% for error in form.errors.hours %}
                        <span class="message error">{{error}}</span>
                    {% endfor %}
                    <div>Agrega más horas <p class="btn-celeste pointer" onclick="add_hour('add_hour')">+</p></div>
                </div>
                <div class="input-content">
                    <input type="submit" class="btn-red" value="Guardar"/>
                </div>
            </form>
        </div>
    </div>
{%- endblock %}
{% block js-%}
    <script type="text/javascript" src="{{url_for('static', filename='js/add_select.js')}}"></script>
{%- endblock %}