.Biografy
    font-size 30px
    line-height 50px
    font-family: 'Satisfy', cursive;
    text-align center
    a
        color celeste_A
    p
        margin 0
        &:first-letter
            font-size 35px