celeste = #3fa9f5
celeste_A = #2472A4

rojo = #C83427
rojo_A = #B32124

@import "nib/vendor.styl"
@import "normalize.styl"
@import "fonts.styl"
@import "utilities.styl"
@import "ui.styl"
@import "Login.styl"
@import "FormLogin.styl"
@import "Header.styl"
@import "Footer.styl"
@import "Biografy.styl"
@import "Menu.styl"
@import "Schedule.styl"
@import "responsive-calendar.styl"

@import "style.styl"

body
    padding-bottom 70px
    background-image url('../img/patron.png')