.Schedule
  margin-top 20px
  
  &-button
    color celeste_A
    font-size 30px
    display inline-block
  &-label
    display inline-block
    font-size 22px
    font-weight 300
    line-height 0
  &-container
    background-color white
    padding 0
  &-year
    float right
  &-month
    float left
  &-days
    background-color #F9F9F9
  .badge
    display none
  &-controls
    padding 10px 10px
    background-color #F9F9F9
    > div > *
      vertical-align middle
  &-list
    padding-left 0
    li
      list-style none
      margin-bottom 5px
      
      &:before
        content ""
        display inline-block
        width 10px
        height 10px 
        background-color celeste_A
        border-radius 50%
        margin-right 5px
  &-details
    &.is-inactive
      visibility hidden
      opacity 0
      transition .3s
    &.is-active 
      opacity 1
      visibility visible
  
.responsive-calendar
  .controls
    text-align center
    a
      cursor pointer
    h4
      display inline
  .day
    display inline-block
    position relative
    font-size 14px
    width 14.285714285714286%
    text-align center
    // padding 5px 0
    a
      color #000000
      display block
      cursor pointer
      padding 20% 0 20% 0
      &:hover
        background-color #eee
        text-decoration none
    &.header
      border-bottom 1px #E3E3E3 solid
    &.active
      a
        background-color celeste_A
        color #ffffff
        &:hover
          background-color celeste_A
      .not-current
        background-color celeste
        color #ffffff
        &:hover
          background-color #bcdff5
    &.not-current
      a
        color #ddd
    .badge
      position absolute
      top 2px
      right 2px
      z-index 1

.responsive-calendar .day-headers,
.responsive-calendar .days
  font-size 0


+to(767px)
  .Schedule
    margin 0
    .day
      &.active
        a
          border-radius 50%
          width 30px
          height 30px
          line-height 30px
          padding 0
          margin 0 auto