//Utilities
.u-verticalCenter
  display table
  width 100%
  box-sizing border-box
.u-verticalContent
  display table-cell
  vertical-align middle
.u-wrapper
  max-width 768px
  margin 0 auto
  padding 0 10px

.u-content
    max-width 320px
    margin 0 auto
    padding 0 10px
.u-center
  text-align center
.u-hidden
  display none
.u-clearfix
    clearfix()

.u-right
  float right
  padding-right 12px

.u-left
  img
    float left
    padding-left 12px
    width 50px

.u-marginBottom
  margin-bottom 10px